<html>  
<head>  
    <title>success</title> 
    <link rel="stylesheet" href='../static/css/style.css'> 
</head>  
<body> 
<style>background-image: url({{path}});</style> 
<h1>File uploaded successfully!!</h1>  
<p>File Name: {{name}}</p>  

<table>
  <tr>
    <th>Classes</th>
    <th>Probability</th>
  </tr>
  <tr>
    <td>Lotus</td>
    <td>{{lotus}}</td>
  </tr>
  <tr>
    <td>Rose</td>
    <td>{{rose}}</td>
  </tr>
  <tr>
    <td>Sunflower</td>
    <td>{{sunflower}}</td>
  </tr>
</table>

<p align="center"><a href= 'return_' ><button class=grey style="height:60px;width:120px" id="return">Try again here if you need</button></a></p>

</div>
</body>  
</html>  